<header class="navbar">
  <%= link_to '<', categories_path, class: 'back-icon' %>
  <h2 class="header">USERS</h2>
  <span>WW</span>
</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
