<%= stylesheet_link_tag "style" %>

<div class="splash">
  <h1 class="h1">Wealth Wave</h1>
  <%= link_to "LOG IN", new_user_session_path, class: "sign-in" %>
  <%= link_to "SIGN UP", new_user_registration_path, class: "sign-up" %>
</div>
